<html ng-app="chat">
<head>
    <title>Simple websocket chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        #chat {
            height: 300px;
            overflow: scroll;
        }
    </style>
</head>
<body ng-controller="MainCtrl">
<div class="titlebar">
    <h1>Simple websocket chat</h1>
</div>
<div id="chat">
    <ul>
        <li ng-repeat="m in messages track by $index">{{m}}</li>
    </ul>
</div>
<input type="text" placeholder="type here" ng-model="msg" ng-enter="send()">
<button class="btn btn-primary" ng-click="send()">Send</button>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script>
    var app = angular.module("chat", []);

    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if(event.which === 13) {
                    scope.$apply(function (){
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });

    app.controller("MainCtrl", ["$scope", function($scope) {
        $scope.messages = [];

        var conn = new WebSocket("ws://localhost:3000/ws");

        conn.onclose = function(e) {
            $scope.$apply(function(){
                $scope.messages.push("DISCONNECTED");
            });
        };

        conn.onopen = function(e) {
            $scope.$apply(function(){
                $scope.messages.push("CONNECTED");
            })
        };

        conn.onmessage = function(e){
            $scope.$apply(function(){
                $scope.messages.push(e.data);
            });
        };

        $scope.send = function() {
            conn.send($scope.msg);
            $scope.msg = "";
        }
    }]);
</script>
</body>
</html>